In [36]:
import pandas as pd

df = pd.read_csv("data/bengaluru_house_prices.csv")
df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

In [2]:
target_column = "price"

In [16]:
for col in df.columns:
    print(f"Cột {col} có {df[col].nunique()} giá trị độc nhất")

Cột area_type có 4 giá trị độc nhất
Cột availability có 81 giá trị độc nhất
Cột location có 1305 giá trị độc nhất
Cột size có 31 giá trị độc nhất
Cột society có 2688 giá trị độc nhất
Cột total_sqft có 2117 giá trị độc nhất
Cột bath có 19 giá trị độc nhất
Cột balcony có 4 giá trị độc nhất
Cột price có 1994 giá trị độc nhất

In [17]:
feature_columns = [
    "area_type",
    "availability",
    "size",
    "bath",
    "balcony"
]
target_column = "price"

In [37]:

for col in df[feature_columns].columns:
    if col == "bath" or col == "balcony":
        continue
    mapper = {}
    for idx, unique in enumerate(df[col].unique()):
        mapper[unique] = idx
    
    df[col] = df[col].map(mapper)

df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,0,0,Electronic City Phase II,0,Coomee,1056,2.0,1.0,39.07
1,1,1,Chikka Tirupathi,1,Theanmp,2600,5.0,3.0,120.00
2,2,1,Uttarahalli,2,NaN,1440,2.0,3.0,62.00
3,0,1,Lingadheeranahalli,2,Soiewre,1521,3.0,1.0,95.00
4,0,1,Kothanur,0,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,2,1,Whitefield,15,ArsiaEx,3453,4.0,0.0,231.00
13316,0,1,Richards Town,3,NaN,3600,5.0,NaN,400.00
13317,2,1,Raja Rajeshwari Nagar,0,Mahla T,1141,2.0,1.0,60.00
13318,0,20,Padmanabhanagar,3,SollyCl,4689,4.0,1.0,488.00
13319,0,1,Doddathoguru,6,NaN,550,1.0,1.0,17.00

In [38]:
df = df.dropna()

In [39]:
from sklearn.linear_model import LinearRegression


X = df[feature_columns]
y = df[target_column]

lr = LinearRegression()

lr.fit(X, y)

y_pred = lr.predict(X)
y_pred

array([ 55.14830981, 271.93423655, 134.10114402, ..., 280.50361435,
        62.95615765, 207.40510153], shape=(7496,))

In [42]:
from sklearn.metrics import mean_squared_error, mean_absolute_error

mean_absolute_error(y, y_pred)

38.36749939644548

In [34]:
len(feature_columns)

5